# Dependencies
/node_modules
/vendor

# Laravel specific
/bootstrap/ssr
/public/build
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/storage/pail

# Environment files
.env
.env.backup
.env.production
.env.testing

# Testing
/.phpunit.cache
/.phpunit.cache/
.phpunit.result.cache
/coverage/

# IDE and editor files
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
_ide_helper*.php
.php-cs-fixer.cache
.php_cs.cache

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Laravel Homestead
Homestead.json
Homestead.yaml

# NPM/Yarn
npm-debug.log
yarn-error.log
yarn.lock

# Composer
/auth.json

# Documentation build artifacts
/docs/_build/
